src/proto/*
src/common/grpc/common.interface.ts
src/modules/robot-status/grpc/service_ping.interface.ts
src/modules/digital-twin/point-of-interest/point-of-interest.interface.ts
src/modules/digital-twin/site-recording-grpc-clients/grpc/world-model-recording.interface.ts
*.proto
*.sh
*.pug
*.tgz
*.conf
*.png
.husky
.prettierignore
.dockerignore
.gitignore
.gitmodules
Dockerfile
Jenkinsfile
*.txt
*.jpg
